fastapi
uvicorn
python-dotenv
google-generativeai
langchain
langchain-community
langchain-text-splitters
langchain-google-genai
sentence-transformers
pdfplumber
pymupdf
pypdf
faiss-cpu
pydantic
python-multipart